@import "base/variables";
@import "base/mixins";
@import "bootstrap";


$border-radius: 2px;
$color-white: #ffffff;
$color-grey: #d4d4d4;
$color-lightgrey: #d1d1d1;
$color-darkgrey: #adadae;

.questionnaire {
  width: 500px;
  margin: auto;
  .stepBack,
  .stepForward {
    display: inline-block;
    font-size: 50px;
    width: 50px;
  }
  .question {
    display: inline-block;
    width: 400px;
  }
}

.answer {
  margin-top: 10px;
}
.answerCheckbox {
  @include m-height(40px);
  width: 50px;
  text-align: center;
  background: $color-lightgrey;
  border: 1px solid $color-darkgrey;
  box-sizing: border-box;
  float:left;
  @include border-radius(2px);
  @include border-radius-right(0);
}
.answerContent {
  @include m-height(40px);
  width: 350px;
  padding: 0 10px;
  float: left;
  font-size: 18px;
  box-sizing: border-box;
  background: $color-white;
  border-top: 1px solid $color-darkgrey;
  border-right: 1px solid $color-darkgrey;
  border-bottom: 1px solid $color-darkgrey;
  @include border-radius-right(2px);
  @include truncate;
}